# John Wirth Lesson 4: 20 Aug 2018

1) Create three variables containing strings and print them into a sentence.

In [17]:
Name = 'John Wirth'
Age = '21'
Hometown = 'Norman'

In [35]:
Sentence = 'I am '+ Name +'. I am ' + Age + " years old. I'm from " + Hometown
print(Sentence )

I am John Wirth. I am 21 years old. I'm from Norman

1a) Make your name lower case.

In [21]:
Name = Name.lower()
Name

'john wirth'

1b) Make a full name a proper noun.

In [25]:
Name = Name.replace('j','J')
Name = Name.replace('w','W')
Name

'John Wirth'

2) Practice with replace.

In [36]:
Sentence2 = Sentence.replace('I am','he is')
Sentence2 = Sentence2.replace("I'm","he's")
Sentence2

"he is John Wirth. he is 21 years old. he's from Norman"

3)Return a boolean response.

In [40]:
len(Sentence) < int(Age)+40

True